.shoppingcart-wrapper
  font-size: 30px

  .price
    text-align: right

.orderButton
  float: right
  background-color: orange
  color: #eeeeee
  border-radius: 5px !important
  border: none
  font-size: 16px
  padding: 10px 15px


.orderButton:hover
  background: #ffa500cc
  color: white
  border: none
