.Footer
  display: flex
  justify-content: center
  align-items: center
  height: 10vh
  left: 0
  bottom: 0
  Width: 100%
  background-color: #f8f9fa
  margin-top: 10px

.footer-container
  text-align: left
  flex: 1
