.footer
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  flex-direction: column

  height: 10vh
  background-color: #f8f9fa
  padding-top: 2vh

  .footer-text
    margin: 0
    font-size: 14px
    font:
    color: #595656