.Footer
  display: flex
  justify-content: center
  align-items: center
  height: 10vh
  position: fixed
  left: 0
  bottom: 0
  Width: 100%
  background-color: #f8f9fa

.footer-container
  text-align: center
  flex: 1
